<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Todos', root_path, class:"navbar-brand", id: "logo"%>
        <!--<img alt="TodoS", src="..." >-->
      </a>
    </div>
  </div>
</nav>
